.search_div{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.search_input{
    width: 200px;
    border-radius: 0.5rem;
    height: 2.5rem;
    border: 0;
    padding: 10px;
}

.search_div button {
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 7rem;
    align-self: center;
    font-weight: 500;
    border: 1px;
    background-color: #00B9AE;
    cursor: pointer;
}
.search_div input {
    color: black
}