.divMoviesCart {
   display: flex;
   align-items: center;
   gap: 1rem;
   color: white;
}
.divMoviesCart a {
   text-decoration: none;
   color: white;
}
.divMoviesCart h3 {
   font-size: 1.3rem;
}
.divMoviesCart p {
   font-size: 1rem;
   color: rgb(180, 179, 179);
}
.divMoviesCart img {
   height: 10rem;
}

.divMoviesCart button {
   border-radius: 0.5rem;
   height: 2rem;
   width: 5rem;
   align-self: center;
   font-weight: 600;
   border: 1px;
   background-color: #00B9AE;
   cursor: pointer;
}
.divMoviesCart button:hover{
   background-color: rgba(255, 0, 0, 0.521);
   transition: all 0.3s;
}