.main {
    color: #f3f3f3;
    background-color: #21242D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 26rem;
    border-radius: 15px;
    padding: 2rem;
}
.main form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}
.main form input {
    border-radius: 5px;
    height: 2.2rem;
    width: 18rem;
    border: 1px;
    color: black;
    padding-left: 5px;
}
.main p {
    padding: 0 2rem;
    text-align: center;
    margin: 0;
}
.main form button {
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    margin-top: 5px;
    align-self: center;
    font-weight: 600;
    border: 1px;
    background-color: #00B9AE;
    cursor: pointer;
}

.profileImage{
    margin-top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 450px){
  .main{
    margin:3rem
  }
}