.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   
}
.formContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #21242d;
   border-radius: 15px;
   gap: 5px;
   padding: 4rem  2rem 2rem 2rem;
   width: 30%;
}
.formContainer h2 {
   font-size: 1.8rem;
   color: white;
}
.formContainer p{
   color: #999999
}
.formContainer p{
   text-align: center;
}
.form {
   margin-top: 25px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.fields {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.fields input {
   border-radius: 5px;
   height: 2.2rem;
   width: 18rem;
   border: 1px;
   color: black;
   padding-left: 5px;
}
.form span {
   display: inline-block;
   color:red;
   font-size: 15px;
   padding-left: 2px;
}
.form button {
   border-radius: 0.5rem;
   height: 2.5rem;
   width: 10rem;
   font-weight: 600;
   background-color: #00b9ae;
   cursor: pointer;
   margin-top: 10px;
   align-self: center;
}

.registerLink{
   display: inline-block;
   margin-top: 15px;
}
.registerLink a{
   text-decoration: none;
   color: white;
}
.registerLink a:hover {
   color:#00b9ae
}

@media screen and (max-width:450px){
   .container {
      height: 85vh;
      
   }
   .formContainer {
      width: 80%;
   }
}