.main {
   display: flex;
   flex-direction: row;
}
.notFound {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 82%;
}
.notFound button {
   border-radius: 0.5rem;
   height: 2.5rem;
   width: 10rem;
   margin-top: 5px;
   align-self: center;
   font-weight: 600;
   border: 1px;
   background-color: #00B9AE;   
}