@tailwind base;
@tailwind components;
@tailwind utilities;
.dashboard{
   color:#01a499;
   font-size: large;;
}
.actions {
   display: flex;
   gap: 10px;
}
.name{
   color: rgb(107 114 128);
}
.small-alert {
   max-width: 200px;
   font-size: 9px;
}

.search{
   background-color: #5adfd6;
}
