.home {
   background-color: #21242D;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   gap: 2rem;
   min-height: 100vh;
}
.home h1{
   font-size: 1.8rem;
   padding-top: 3rem;
}
.cards {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5rem;
   margin: 22px 50px;
}
.emptyfavorites {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid;
   padding: 3rem;
   color: #00B9AE;
   gap: 1rem;
}
.emptyfavorites h2 {
   font-size: 1.4rem;
}
.emptyfavorites img {
   width: 10rem;
}


