.containerCards{
  display: flex;

}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin: 22px 50px;
}
.home {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.favorites{
  margin-left: 254px;
    background-color: #21242D;
    padding: 0 2rem;
    width: 80%;
    min-height: 100vh;
}
.containerFav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyfavorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 1rem;
    color: #00B9AE;
    font-size: larger;
}
.emptyfavorites img {
    width: 10rem;
}