
.header{
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #21242D;
    color: #F3F3F3;
    padding: 0 2rem;
}

.header .options ul {
    color: #F3F3F3;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-right: 1rem;
}
.header .options ul li {
    text-decoration: none;
    display: block;
}

.header .options ul a:visited {
color:#F3F3F3;
}
.header .options ul a:hover {
    color: #00B9AE;
}
.header .logo img {
    width: 6rem;
}