
.header{
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2rem;
   z-index: 2;
   width: 100vw;
   background: linear-gradient(rgba(0, 0, 0, 0.918) , rgba(0, 0, 0, 0.342) ,transparent)
}
.header2{
   position:static;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2rem;
}

.options ul {
   color: #ffffff;
   display: flex;
   gap: 3rem;
   padding-right: 1rem;
   font-size: 1.3rem;
}
.options ul a {
   text-decoration: none;
}

.options ul a:visited {
   color:#F3F3F3;
}
.options ul a:hover {
   color: #00B9AE;
}
.logo img {
   width: 7rem;
}
@media screen and (max-width: 450px) {
   .header{
      padding: 0.5rem;
   }
   .header2{
      padding: 0.5rem;
   }
   .options ul {
      gap: 2rem;
      font-size: 1.2rem;
   }
   .logo img {
      width: 6rem;
   }
}