.globalContainer{
    background-color: #21242D;
    display: flex;
}
.firstContainer{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    
}
.createMovieContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 240px;
}
.createMovieContainer input, .createMovieContainer textarea, .createMovieContainer select {
    color: black;
    border-radius: 5px;
    padding-left: 2px
}
.createMovieContainer input.torrentInput{
    color: white;
}
.h1{
    text-align: center;
    color: #00B9AE;
    font-size: 1.5rem;
    margin: 1rem;
}
.firstFormDiv{
    width: 30vw;
}
.secondFormDiv{
    width: 35vw;
}
.thirdFormDiv{
    width: 30vw;
}
.imageShown{
    max-width: 70%;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-bottom: 2%;
}
.okVal{
    font-size: 1.2rem; 
    padding: 6px 12px; 
    margin-bottom: 20px;
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1px;
    background-color: #00B9AE;
    cursor: pointer;
    width: 12rem;
    align-self: end;
}
.notOk{
    text-align: center;
    color: rgb(161, 37, 37);
    margin-top: 1%;
}
.inputDivs{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.description{
    height: 130px;
    width: 100%;
}
.wrong{
    background-color: rgb(207, 123, 123);
}
.checkboxContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
}
.generosMargin{
    margin-left: 5%;
}

.uploadButton {
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 1rem;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1px;
    background-color: #00B9AE;
    cursor: pointer;
    width: 45%;
}
.spacing{
    margin-bottom: 5%;
}
.postLogo{
    width: 70px;
    height: 70px;
}
.dashboardButton{
    font-size: 14px; 
    padding: 6px 12px; 
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1px;
    height: 55px;
    background-color: #00B9AE;
    cursor: pointer;
    margin-top: 1%;
}